@import 'tailwindcss';

@import './themes/copper.css';

@source '../**/*.vue';
@source '../**/*.ts';

@theme {
    --font-mono: 'Roboto Mono', monospace;
    --color-text: var(--theme-text);
    --color-background: var(--theme-background);
    --color-primary: var(--theme-primary);
    --color-secondary: var(--theme-secondary);
    --color-accent: var(--theme-accent);
    --color-muted: var(--theme-muted);
    --color-border: var(--theme-border);
}

*, *::before, *::after {
    @apply transition-all duration-200 ease-in-out;
}

html {
    body {
        @apply font-mono antialiased h-full bg-background text-text;
    }
}
