@import 'tailwindcss';

@import './theme.css';

@source '../**/*.vue';
@source '../**/*.ts';


*, *::before, *::after {
    @apply transition-all duration-200 ease-in-out;
}

#app {
    @apply min-h-screen w-full flex flex-1 flex-col items-center pb-10;

    header, main {
        @apply flex w-full;

        > div {
            @apply container mx-auto max-w-6xl px-4;
        }
    }

}

h1, h2, h3, h4, h5, h6 {
    @apply font-bold;
}

h1 {
    @apply text-4xl;
}

h2 {
    @apply text-3xl;
}

h3 {
    @apply text-2xl;
}

h4 {
    @apply text-xl;
}

h5 {
    @apply text-lg;
}

a:not([data-button]) {
    @apply flex items-center gap-2 text-primary-400 hover:text-primary-500;
}

a:not(nav a,[data-button]) {
    @apply underline;
}

nav a {
    @apply tracking-widest;
}

form {
    @apply flex flex-col gap-4;

    label {
        @apply flex flex-col gap-2 text-sm
    }

    label:has(
        input:where(
            [type="checkbox"],
            [type="radio"]
        )
    ) {
        @apply flex-row items-center justify-between;
    }

    .input,
    select,
    textarea,
    input:where(
        [type="text"],
        [type="password"]
    ) {
        @apply rounded-xs border border-border bg-background text-text px-3 p-2 h-10 focus:outline-none focus:ring-2 focus:ring-primary-400;
    }

    textarea {
        @apply transition-colors min-h-10 h-auto;
    }

    .fieldset {
        @apply flex flex-row gap-2;

        label {
            @apply flex-row gap-2 w-fit;
        }
    }
}

fieldset {
    @apply border rounded-xs p-4 pt-2;

    legend, legend span {
        @apply font-bold flex items-center;
    }
}

table {
    @apply w-full;

    th, td {
        @apply border border-border px-4 py-2;
    }

    thead th {
        @apply bg-background;
    }

    tbody tr:nth-child(even) {
        @apply bg-background;
    }
}

.viewer-container, .viewer-container * {
    @apply transition-none;
}
